/*
	main stylesheet for stephencarder.net
*/

body {
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	color: white;
}

header {
	display: block;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	width: 150px;
}

.aboutme {
	display: flex;
	flex-flow: row wrap;
}

.aboutme > * {
	flex: 1;
	min-width: 212px;
}

#selfie {
	display: block;
	width: 200px
}

#login {
	position: absolute;
	top: 15px;
	right: 15px;
}

.grid_container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.content_container {
	margin-top: 40px;
}

.left_container {
	justify-self: center;
	margin-top: 80px;
}

.right_container {
	margin-top: 80px;
}

footer {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.text_container {
    margin: 30px;
    padding: 30px;
    background-color: #236363;
    border-radius: 20px;
}

.update {
	display: flex;
	flex-flow: column nowrap;
	gap: 10px;
	align-items: center;
}

#login-submit {
	display: none;
}

#update-form {
	width: 700px;
	height: 450px;
}

#update-submit {
	width: 100px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media (max-width : 900px) {
	.content_container {
		margin-top: 20px;
	}

	.left_container, .right_container, #login {
		display: none;
	}

	footer {
		position: absolute;
		top: 10px;
	}

	.grid_container {
		grid-template-columns: 1fr;
	}

	.text_container {
		margin: 5px;
		margin-bottom: 20px;
	}
}
