/*
	main stylesheet for stephencarder.net
*/

html, body {
	margin: 0;
}

body {
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	color: white;
}

header {
	display: flex;
	justify-content: right;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.login {
	margin: 20px;
}

.grid_container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.left_container, .right_container {
	justify-self: center;
	margin-top: 40px;
}

footer {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

@media (max-width : 900px) {
	.left_container, .right_container {
		display: none;
	}

	footer {
		top: 10px;
	}

	.grid_container {
		grid-template-columns: 1fr;
	}
}

div.text_container {
    margin: 30px;
    padding: 30px;
    background-color: #236363;
    border-radius: 20px;
}

small {
	font-weight: bold;
}

.submit {
	visibility: hidden;
}
