{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block main %}

			<div class="left_container">
				<h2>Calendar</h2>
				<p>TODO</p>
			</div>

			<div class="content_container">
				{% for i in range(3) %}
				<div class="text_container">
					<small>{{ dates[i] }}</small>
					<p>{{ entries[i] }}</p>
				</div>
				{% endfor %}
		 	</div>

			<div class="right_container">
				<ul>
					<li><a href="/aboutme">About Me</a></li>
					<li><a href="/projects">Projects</a></li>
				</ul>
			</div>

{% endblock %}
