<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" contect="Stephens' journal and projects">
		<meta name="keywords" content="journal, projects, stafngrimr, developer">
		<meta name="author" content="Stafngrimr">
		<meta name="viewport" content="initial-scale=1, width=device-width">

		<link rel="stylesheet" type="text/css" href="static/main.css">
		<link rel="icon" href="static/skull.ico">

		<title>myJournal:2</title>
	</head>
	
	<body>
		{% block main %}{% endblock %}
	</body>
</html>
